html {
    font-size: 125%;
}

img {
    max-height: 150px;
}
.hero-body > div > img {
    max-height: 100px;
}

section:not(.end) div.column {
    cursor: pointer;
    font-size: 1.5em;
    transition: all 0.5s;
    margin: 10px;
}
section:not(.end) div.column .heading {
    font-weight: normal;
    font-size: 0.8em;
}

section:not(.end) div.column:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

section:not(.end) div.column.selected {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

i.em {
    font-size: 2em;
}

section .title i.em {
    font-size: inherit;
}

div.text-to-speach {
    display: none;
}

div.column.selected p.title span.key {
    box-shadow: 1px 1px rgba(0,0,0,0.2);
}

p.title span.key {
    background-color: #fff;
    display: block;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
    margin-top: 10px;
    color: #333;
    font-size: 0.5em;
    padding: 0.8em;
    font-weight: bold;
    max-width: 3em;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
    -webkit-transition: all .3s;
}

div#progress-bar {
    position: fixed;
    bottom: 0;
    height: 6px;
    display: block;
    width: 100%;
}

div#progress-bar-state {
    height: 100%;
    width:0%;
    background: #0e9e0e;
    transition: all .5s;
}